<!DOCTYPE html>
html(lang="en")
    head
        - var page = { title: 'Contacts' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/contacts/content.pug
        include inc/footer.pug
        include inc/scripts.pug