<!DOCTYPE html>
html
    head
        - var page = { title: 'Cost of solar' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/cost_of_solar/content.pug
        include inc/footer.pug
        include inc/scripts.pug