<!DOCTYPE html>
html(lang="en")
    head
        - var page = { title: 'Plans Services' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/Plans_Services/content.pug
        include inc/footer.pug
        include inc/scripts.pug