<!DOCTYPE html>
html(lang="en")
    head
        - var page = { title: 'Solar detail' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/solar_detail/content.pug
        include inc/footer.pug
        include inc/scripts.pug
