<!DOCTYPE html>
html(lang="en")
    head
        - var page = { title: 'Solar education' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/solar_education/content.pug
        include inc/footer.pug
        include inc/scripts.pug