main.page_content
    .first_screen
        .container.breadcrumb_container
            ul.breadcrumb
                li
                    a.home(href="#")
                        .logo
                            img(src="img/DreamSolar-D.png")

                li
                    a(href="#") #{page.title}

        .row
            .col_img(style="background-image:url(img/cost_of_solar.png)")
            .col_text
                div.text
                    .title.large #{page.title}





    .sm_container.seo_text.text_left
        .desc
            p Page not found. The requested page was not found or was moved to a different address.
            ul.list
                for m_item, index in main_menu
                    li
                        a(href="#")=m_item
                        ul
                            for s_item, index in sub_menu
                                li
                                    a(href="#")=s_item
























