-var f_menu=['Home','Plans & Services','Why DreamSolar','Solar Storage','Why Solar'];




footer
    .container
        .f_row
            .f_left
                .logo
                    a(href="#")
                        span.blue mydream
                        span.yellow solar

                ul.f_menu
                    for f_item,  index in f_menu
                        li
                            a(href="#")=f_item

            ul.social_menu
                -for(var s=1;s<=5;s++)
                    li
                        a(href="#")
                            img.icon(src="img/s_"+s+".svg")

        .copyright
                p ©2021 Mydreamsolar. All rights reserved.
