main.page_content
    .first_screen
        .container.breadcrumb_container
            ul.breadcrumb
                li
                    a.home(href="#")
                        .logo
                            img(src="img/DreamSolar-D.png")

                li
                    a(href="#") Why Solar
                li
                    a(href="#") Contacts
        .row.contacts_row
            .col_img(style="background-image:url(img/map.png)")
            .col_text
                div.text
                    .title.logo
                        span.blue MyDream
                        span.yellow Solar
                    .desc
                        ul.c_list
                            li
                                a.tel(href="tel:(833) 324-5886") (833) 324-5886
                            li
                                a.tel(href="tel:(833) 324-5066") (833) 324-5066
                            li
                                a.email(href="mailto:mydream@gmail.com") mydream@gmail.com
                            li.location 3486 Meadow Lane, Lakeport, <br> California,    95453




    .feedback_box(style="background-image:url(img/blue-skies.png)")
        .container
            .row
                .column
                    .text
                        .h2 See<br> if you qualify
                        .sub_title Simply fill out the form and we will get back to you as soon as possible.
                .column
                    form.feedback_form
                        .field
                            input.form_control(type="text" placeholder="First Name*")
                        .field
                            input.form_control(type="text" placeholder="Last Name")
                        .field
                            input.form_control(type="text" placeholder="Email*")
                        .field
                            input.form_control(type="text" placeholder="Zip Code")
                        .field.mb_30
                            input.form_control(type="text" placeholder="Phone")
                        .field.mb_30
                            .custom_checkbox
                                input(type="checkbox" id="checkbox1")
                                label(for="checkbox1") I own my home
                            .custom_checkbox
                                input(type="checkbox" id="checkbox2")
                                label(for="checkbox2") I was referred to DreamSolar by a friend or family member
                        .field
                            button.btn_default(type="submit") See if you qualify



    -var power = ['Production, in the bag for 25 years', 'Zero up-front cost. Really!', 'Faster, friendlier service', 'More option, more opportunity']
    -var power_desc = ['No charlatan salesmen or nefarious negotiation gimmicks here. Just honest and informed solar energy contractors who foster a passion for making clean energy more accessible.', 'Financing the entire cost of your system is really almost too easy with our partners. Qualifying finance-to-own or PPA customers won’t pay a single cent until activation day. Cool, right?', 'No charlatan salesmen or nefarious negotiation gimmicks here. Just honest and informed solar energy contractors who foster a passion for making clean energy more accessible.', 'When it comes to design options, we pull out all the stops. Our mission is to design your high-efficiency system to deliver the most value and the best aesthetics.']
     .sm_container.power.pb_50
         .s_title Your power,<br> our perspective.
         .sub_title We are a locally owned & operated solar company. Not only do we live & breathe solar, but we are also more knowledgeable of the state incentives than many of the larger, nationally recognized companies

         .row.power_list
             for p_item, index in power
                 .column
                     .power_item
                         picture
                             img.icon(src="img/p_" + index + ".svg")
                         .power_item_title=p_item
                         .power_item_desc=power_desc[index]
































