main
    .first_screen
        .row
            .col_img(style="background-image:url(img/img.png)")
            .col_text
                div.text
                    .title.blue Customized solar plan for your home
                    .desc Get the energy to evolve, all right here.
                    .btn_group
                        a.btn_default(href="#") See if you qualify
                        a.btn_default.b_blue(href="#") Learn more

    -var power=['Production, in the bag for 25 years','Zero up-front cost. Really!','Faster, friendlier service','More option, more opportunity']
    -var power_desc=['No charlatan salesmen or nefarious negotiation gimmicks here. Just honest and informed solar energy contractors who foster a passion for making clean energy more accessible.','Financing the entire cost of your system is really almost too easy with our partners. Qualifying finance-to-own or PPA customers won’t pay a single cent until activation day. Cool, right?','No charlatan salesmen or nefarious negotiation gimmicks here. Just honest and informed solar energy contractors who foster a passion for making clean energy more accessible.','When it comes to design options, we pull out all the stops. Our mission is to design your high-efficiency system to deliver the most value and the best aesthetics.']
    .sm_container.power
        .s_title Your power,<br> our perspective.
        .sub_title We are a locally owned & operated solar company. Not only do we live & breathe solar, but we are also more knowledgeable of the state incentives than many of the larger, nationally recognized companies

        .row.power_list
            for p_item, index in power
                .column
                    .power_item
                        picture
                            img.icon(src="img/p_"+index+".svg")
                        .power_item_title=p_item
                        .power_item_desc=power_desc[index]
    -var plans=['Solar','Solar + Roof','Solar Loan','Solar Lease'];
    .container.plans
        .s_title Our Plans & Services
        .sub_title Brightbox saves you money by seamlessly optimizing when a home uses electricity generates from solar, stored in the battery, or from the grid. Purchase or lease Brightbox from us today!

        .plans_list
            -for(var p=0;p<=3;p++)
                .row.plan_item
                    .column
                        .plan_img(style="background-image:url(img/plan_"+p+".png)")

                    .column
                        .bg_grey
                            div.text
                                .h2=plans[p]
                                .desc No charlatan salesmen or nefarious negotiation gimmicks here. Just honest and informed solar energy contractors who foster a passion for making clean energy more accessible.
                                a.btn_default(href="#") Learn more



    .sm_container.seo_text
        .s_title About company
        .desc
            p Solar is a national powerhouse. Alliance Solar is part of this solar movement. Unlike other solar companies, our company believes that when homeowners “go solar,” they are creating elevated financial freedom and power for themselves, their family, and other locals when energy is netted back to the grid.

            p We want to be the team you trust to make the switch to solar and decrease your carbon footprint. Our name, Alliance, is defined as a coming together or association formed for mutual benefit with set joint goals. When you work with our solar company, this is exactly what you can expect. You’ll work with knowledgeable professionals who work in collaboration with you versus some other companies out there who try to squeeze you for your money. Our name is trusted throughout the United States, and we are one of the fastest-growing solar companies. Contact us today to learn more about us and how we can help you go solar, today!


    .feedback_box(style="background-image:url(img/blue-skies.png)")

        .container
            .row
                .column
                    .text
                        .h2 See<br> if you qualify
                        .sub_title Simply fill out the form and we will get back to you as soon as possible.
                .column
                    form.feedback_form
                        .field
                            input.form_control(type="text" placeholder="First Name*")
                        .field
                            input.form_control(type="text" placeholder="Last Name")
                        .field
                            input.form_control(type="text" placeholder="Email*")
                        .field
                            input.form_control(type="text" placeholder="Zip Code")
                        .field.mb_30
                            input.form_control(type="text" placeholder="Phone")
                        .field.mb_30
                            .custom_checkbox
                                input(type="checkbox" id="checkbox1")
                                label(for="checkbox1") I own my home
                            .custom_checkbox
                                input(type="checkbox" id="checkbox2")
                                label(for="checkbox2") I was referred to DreamSolar by a friend or family member
                        .field
                            button.btn_default(type="submit") See if you qualify





















