-var m_cat=['','Гибкий неон','','Прожекторы','Алюминиевый профиль','Гибкий неон','Управление','Модуля','Блоки питания'];

main
    .container
        .m_categories
            .d_flex.float_left
                a.item.large(style="background-image:url(img/m_0.png)" href="#")
                    span Светодиодные ленты
                a.item.small(style="background-image:url(img/m_2.png)" href="3")
                    span Светильники
                a.item.small(style="background-image:url(img/m_3.png)" href="#")
                    span Прожекторы
                a.item.medium(style="background-image:url(img/m_4.png)" href="#")
                    span Алюминиевый профиль
            .d_flex.float_right
                a.item.large(style="background-image:url(img/m_7.png)" href="#")
                    span Блоки питания
                a.item.medium(style="background-image:url(img/m_1.png)" href="#")
                    span Гибкий неон
                a.item.small(style="background-image:url(img/m_5.png)" href="#")
                    span Управление
                a.item.small(style="background-image:url(img/m_6.png)" href="#")
                    span Модуля


        .m_products
            .box_title
                .title Хиты продаж
            .products_list.m_products_slider
                -for(var p=1;p<=6;p++)
                    .product_item
                       .product_item_content
                            .c_left
                               .img_thumbnail
                                   .label Хит
                                   a(href="#")
                                       img(src="img/product_item.png")
                            .c_center
                                .articul Артикул: 12389234
                                a.product_name(href="#") Блок питания Venom Негерметичный 12V 15Вт
                                .availability
                                    if p === 3 || p === 5
                                        span.red Под заказ
                                    else
                                        span.green В наличии
                                .price 148 BYN/шт
                            .c_right
                                .amount
                                    span.down -
                                    input(type="text" value="1")
                                    span.up +
                                a.btn_default(href="#") В корзину

        .m_articles
            .box_title
                .title Статьи
                a.show_all(href="#") Все статьи
            .articles_list.items3_slider
                -for(var a=1;a<=5;a++)
                    .item.article_item
                        .article_item_content
                            a.img_thumbnail(href="#" style="background-image:url(img/Screenshot_1.png)")
                            a.article_name(href="#") Гибкий светодиодный неон. Как и где его можно использовать
                            .excerpt Специалисты компании «Neo-Neon» выпустили на рынок экспериментальную новинку под названием «LED neon flex» ...


        .m_video
            .box_title
                .title Видеоблог
                a.show_all(href="#") Все видео
            .video_list.video_slider
                -for (var a1 = 1; a1 <= 5; a1++)
                    .item.video_item
                        <iframe  src="https://www.youtube.com/embed/89PiomkwHxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        .m_seotext
            .box_title
                .title Светодиодное освещение
            .desc
                p С каждым днём всё больше светодиодная лента представляет собой гибкую печатную плату, которая усеяна светодиодами и резисторами. Она предназначается для использования. Светодиодное освещение — одно из перспективных направлений технологий искусственного освещения[1], основанное на использовании светодиодов в качестве источника света.
                p Развитие светодиодного освещения непосредственно связано с достижениями в технологии белых светодиодов. Разработаны так называемые сверхъяркие светодиоды, специально предназначенные для искусственного освещения. В сравнении с обычными лампами накаливания, а также люминесцентными лампами светодиодные источники света обладают многими преимуществами.
                .more
                    p При оптимальной схемотехнике источников питания, применении качественных компонентов и обеспечении надлежащего теплового режима, срок службы светодиодных систем освещения при сохранении приемлемых для общего освещения показателей может достигнуть 36-72 тысяч часов, что в среднем в 50 раз больше по сравнению с номинальным сроком службы ламп накаливания общего назначения и в 4-16 раз больше, чем у большинства люминесцентных ламп.
                    p Производители светодиодов из-за постоянного обновления и совершенствования продукции не имеют возможности проводить тестирование в реальном времени и указывают прогнозируемый срок службы, используя специальные методики, такие как TM-21 и IESNA LM-80. Большой срок службы в некоторых применениях играет решающую роль. Так, экономия на обслуживании и замене ламп в уличных светильниках зачастую превышает экономию на электроэнергии.
                    p Высокие требования к качеству теплоотвода, поскольку температура оказывает решающее влияние на надежность. Мощные осветительные светодиоды требуют наличия внешнего радиатора для охлаждения, потому что имеют неблагоприятное соотношение своих размеров к выделяемой тепловой мощности и не могут без специального теплоотвода рассеять столько тепла, сколько выделяют. Так, для рассеивания 5 Вт тепловой мощности, выделяемой полупроводниковым прибором с возможностью работы при температуре окружающей среды до +40 °C, потребуется радиатор площадью 100 см2. Необходимость использования радиатора удорожает готовое изделие и затрудняет конструирование светодиодных ламп свыше 15 Вт, совместимых с типоразмером цоколя и габаритами ламп накаливания общего назначения.
                p.read_more
                    span Читать подробнее










